//- div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 W9NAA Echolink Node
    p.lead Talk to HAMs over the Internet!
    //- img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row
    .col-lg-6
      h1.page-header Commands:
      ul
        li 
          button(ng-click='startNode()') Start Node
        li
          button(ng-click='stopNode()') Stop Node
        li
          button(ng-click='listMembers()') List Members

    .col-lg-6
      h1.page-header Output:
      p Current status: {{nodeStatus}}
      ul
        li(ng-repeat='member in members')
          span {{member}}

footer.footer
  .container
    p
      | Angular Fullstack v2.0.13
      = ' | '
      | Made by the Rose Tech Radio Club and Rose-Hulman Linux Users Group
      = ' | '
      a(href='https://github.com/darsnack/ECE597-EchoLinkNode') Source Code